[2019-02-08 18:57] mscuthbert opened #92 "Populate from Metadata docs"
Need docs on how to populate from Metadata

[2019-02-08 19:13] mscuthbert opened #94 "Meta-Issue: Make Issues"
Everyone continuing from last term: make at least one issue that you know needs to be done.
IAP group: make two!

Assign either yourself or someone else (w/ their permission) or leave "Assignees" blank.

Choose one or more appropriate Labels from the "Labels" group.

[2019-02-08 19:39] srisi opened #96 "Integrate pdf.js to display pdfs on the website"
In the medium term, we want to move from displaying the documents as png image files to displaying them as pdf files to mak
PDF.js seems like a good candidate for this: https://mozilla.github.io/pdf.js/

[2019-02-08 19:43] ifeife123 opened #97 "Storing PDFs"
Started the code:
The pdfs need to be split into pdfs and png files. These files should be stored in a directory that is auto-generated. There should be a separate png and pdf for each page and a separate pdf for each document.
directory should be as follows

/data/web_test_set/
       /'folder1 name'/
               /doc1/
                    doc1.pdf
                       /page1/

[2019-02-08 22:00] srisi commented on #92
Comment is there, can @Carol217 and @felixtran39 delete the csv files that we don't need? metadata_jan24.csv works. I don't know if the other ones are needed.

[2019-02-09 00:08] equationcrunchor opened #102 "Make assembly simulator object-oriented"

[2019-02-09 00:47] srisi commented on #97
I added the codeblock to sort_pdfs.py and moved it to djweb to make imports less of a hassle.
It's great that you're using pathlib. Note that you can replace
[code]
with
[code]
Can't wait for this to run.

[2019-02-10 17:55] samimak37 opened #103 "Find and Solve Common OCR Mistakes"
OCR makes our lives a lot easier, but even the best documents can sometimes confuse it. Often times, very common phrases/words can get jumbled - "M.I.T." is sometimes translated as "M.1.T.", for instance. It would help if there is a quasi-reliable way of catching some of the most common mistakes in order to help our analysis.

[2019-02-11 15:09] srisi commented on #103
Related: It would be great if we could rectify and deskew images before ocring them. It seems that tesseract doesn't do this by default.
e.g. in the following image, only the highlighted area was ocred.
![screenshot from 2019-02-11 10-05-52](https://user-images.githubusercontent.com/7434819/52572008-ca386e00-2de4-11e9-81dc-2e2edb513ea7.png)

Quick google search turned up:
An implementation in pyth

[2019-02-11 15:56] srisi commented on #97
I processed one folder by hand and uploaded it to amazon's cloud (AWS).
The organization I came up with differs slightly from the one proposed by you. Let me know what you think about it. The main change is that each file retains a filename that allows us to identify what it is. e.g. `2_01_digital_comp_to_social_problems_1_1.png` -> box: 2, folder: 1, foldername: digital_comp_to_social_problems, d

[2019-02-12 00:07] mscuthbert commented on #97
This is super great!  Thanks Stephan, and thanks Ife for the great problem statement!

[2019-02-12 00:09] mscuthbert commented on #103
Ah!  I was used to Acrobat OCR which does this -- yes, I think that this would a super task to do.

[2019-02-12 18:48] srisi commented on #97
A couple more changes:
- sort_pdfs.py now has a download_raw_folder_pdf function which downloads an un-ocred pdf file from aws based on box, folder, and foldername. box=2, folder=1, foldername='digital_comp_to_social_problems' currently works. I'll upload the rest later today. It stores the pdf in the correct directory relative to the data path (DATA_BASE_PATH)
- related: renamed path_to_boxes to

[2019-02-13 15:23] srisi opened #104 "Where is the scan of Box 1, Folder 13, (Computation Center budget Rockefeller)?"
Folder 1.13 seems to be the only one missing on Google Drive. Does anyone know what happened to it? @elenaboal maybe?

[2019-02-13 15:27] srisi commented on #104
Update: actually, 22-26 and 28 are also missing in the first box so this is probably not urgent.

[2019-02-13 15:32] elenaboal commented on #104
Everything that was uploaded from the flash drive, I put into the google drive into its folder.

[2019-02-13 15:46] srisi commented on #104
Thanks. Your organization of the drive folder has been extremely useful.

[2019-02-13 16:44] srisi commented on #97
All of the available non-ocred folder pdfs are now uploaded to aws.
I added a list of all the available files at computation_hist/data/aws_available_files.md: https://github.com/dhmit/computation_hist/blob/sort_pdfs/computation_hist/data/aws_available_files.md

[2019-02-14 15:38] mscuthbert opened #105 "Learn (MSC + Staff) and demo Django in PyCharm"
MSC will learn how to better integrate Django into Pycharm.

[2019-02-15 15:29] srisi opened #107 "Assemble metadata"
We need help from everyone in the lab in assembling the metadata of our corpus.
You can find a guide on how to enter metadata here: https://github.com/dhmit/computation_hist/blob/master/computation_hist/documentation/metadata.md
However, if you're new in the lab, feel free to ask one of the continuing lab members to show you what to do--there are a lot of edge cases.

[2019-02-15 15:35] srisi opened #108 "Scan and upload folder-level pdfs on Google Drive"
Currently missing folders on google drive (we may still have some unprocessed scans on USB sticks):

## Box 1
Folder  13
Folders 22-26
Folder 28

## Box 2
Complete

## Box 3
Folders 10-31
Folders 33-37

[2019-02-15 15:36] srisi commented on #104
(Closed) Opened a more general issue: https://github.com/dhmit/computation_hist/issues/108

[2019-02-15 15:36] #104 closed

[2019-02-15 15:44] srisi commented on #103
@samimak37 and @meesuekim: I think it would be useful for @ifeife123 's task of extracting documents from larger pdfs if the ocr function could extract page ranges, i.e. if you could implement the params `start_page` and `end_page` such that it would create an ocred pdf / extract text only from the selected page range.

[2019-02-15 18:14] mscuthbert opened #109 "Build Cubbies"
IKEA box on the floor -- MechEng folks!

[2019-02-15 18:55] Carol217 opened #110 "create an advanced search webpage"
create an advanced search option that allows you to look search model fields (author, document, folder, etc) for specific inputs. Ex: search for 'Verzuh' in recipient field only.

AND/OR

create a filter-able page of texts (ex: by adjusting preferred page length, so only documents with 3 or more pages show up, etc)

[2019-02-15 19:42] felixtran39 commented on #107
Working on it!

[2019-02-15 20:03] mscuthbert commented on #107
Right now, we're asking everyone to choose a folder and start making metadata for that.  Estimate that 100 documents per person will get it done.

[2019-02-15 21:49] mscuthbert opened #112 "Metadata number of rows tracker"
Could someone write a little script on the .csv metadata file that makes a list of people and number of scans?  Like:

stephan: 56
lisa: 54
myke: 20
bob: 1

this would help staff to figure out how we're doing (and nice bragging rights for the top five :-) ).

[2019-02-15 21:59] angcast opened #113 "Recognizing Similar Names"
Optimally, this will be best in the importing metadata step. Names that are similar in nature will be modified to the correct name. I noticed there are different variations in the same name.

For example:

"Morse, Philip M."
"Morse, Philip"

This function will identify those two names as being the same and modify the second one to Morse, Philip M.

Another example: a person accidentally spelled "P

[2019-02-15 22:40] srisi opened #116 "Merge "unknown" and "No name" in the organization field of the metadata organization field"
"No name" should be "unknown"
This can probably be done directly in the google sheet.

[2019-02-15 22:41] felixtran39 opened #117 "Unknown/No Name organizations"
As of current, documents that are not associated with any organization can be accessed through the list of organizations unknown and no name. This should not be possible and access to the documents should be through other methods like author or recipient. (Make unknown/no name now show up when listing organizations).

[2019-02-15 23:49] #112 closed

[2019-02-18 22:29] equationcrunchor opened #119 "Add IBM Simulator to Django Config"

[2019-02-18 22:29] #102 closed

[2019-02-18 22:31] equationcrunchor opened #120 "Make IBM Simulator Handle Tags"
Info on how tags work with the index registers in this document:
http://bitsavers.org/pdf/ibm/704/24-6661-2_704_Manual_1955.pdf

[2019-02-18 22:33] equationcrunchor opened #121 "Loop example for Assembly Simulator"
Implement a transfer function and create a demo of a loop for the assembly simulator.

[2019-02-19 19:23] equationcrunchor opened #122 "Make general IBM Assembler nicer looking"

[2019-02-21 14:24] #92 closed

[2019-02-22 17:37] srisi commented on #116
Seems fixed. No more "no name" entries in the sheet.
Closing.

[2019-02-22 17:37] #116 closed

[2019-02-22 22:46] equationcrunchor opened #140 "Simulator STO function is slightly wrong"
STO function is storing literal binary with truncation, instead of the fixed point property of the accumulator, which will probably cause problems with negative numbers.

[2019-02-25 21:06] equationcrunchor opened #143 "Let IBM 704 simulator Handle Operations with Negative Codes"

[2019-02-25 21:06] #122 closed

[2019-02-25 21:07] equationcrunchor commented on #119
Has now escalated to creating new app for simulations in Django.  Related to mingfei-simulations-django branch

[2019-02-25 23:18] equationcrunchor opened #145 "Navbar Design"
How should we design the navbar(s?) for the Digital Archive, Simulations, and other parts of the site?

[2019-02-26 19:04] #119 closed

[2019-02-26 19:04] #140 closed

[2019-02-26 19:06] equationcrunchor opened #146 "Simulations Home Page"
Would anyone be willing to create a rudimentary home page for the simulations app that automatically lists links to all the simulations?  Also a link in the navbar to these simulations.  @elenaboal and @ktmurray1999 , @srisi mentioned you guys currently are relatively free; if not, I can cover it.

[2019-02-26 19:53] equationcrunchor opened #147 "Pop Up for Syntax Errors on Simulations"

[2019-02-26 20:13] #109 closed

[2019-02-26 20:16] srisi commented on #143
Can you write a bit more where / which operations with negative codes need to be handled?
That is: make sure to include enough information that other lab members can jump in and solve the issue.

[2019-02-27 01:07] equationcrunchor commented on #143
It's because of how the manual represents operations; it's octal but with a weird sign bit.  With the code converting the negative operation codes will probably cause problems.  More on this [here](
http://bitsavers.org/pdf/ibm/704/24-6661-2_704_Manual_1955.pdf).

[2019-02-28 17:19] srisi commented on #103
@samimak37
I think this implements the method (find angle that maximizes number of lines that are white or mixed) that we discussed yesterday: https://avilpage.com/2016/11/detect-correct-skew-images-python.html

[2019-03-01 19:24] elenaboal commented on #146
I'm working on it now :)

[2019-03-01 19:53] elenaboal commented on #145
Also, working on this

[2019-03-01 20:59] elenaboal commented on #145
Working on this in the navbar branch

[2019-03-01 21:30] #146 closed

[2019-03-01 23:11] srisi commented on #97
Small updates from @ifeife123's version.
I think this produces all the files we need (doc pdfs, doc txt, page png, page txt).
Once we get it documented, it's ready to be merged into master.
I'll run the extraction on all folders that we currently have over the weekend.

[2019-03-04 19:14] equationcrunchor opened #153 "Pseudoinstructions For Storing Numbers in IBM 704"
Currently numbers are just placed in memory by Javascript.  Would be nice to have pseudoinstructions like DEC to demonstrate that.

[2019-03-04 20:49] srisi commented on #97
With thanks to Ife: This task is now done. I'll periodically run it with new metadata and upload the files.

[2019-03-04 20:49] #97 closed

[2019-03-04 21:48] #121 closed

[2019-03-04 21:49] equationcrunchor commented on #143
Just going to manually change opcodes that are negative; apparently Javascript can't use negative numbers for keys of dictionaries.

[2019-03-04 21:49] #143 closed

[2019-03-04 21:56] equationcrunchor opened #156 "Floating Point Operations on IBM 704"

[2019-03-04 23:04] equationcrunchor opened #157 "Getting Floating Point Numbers on IBM 704 Words Always Returns Positive"
Just noticed this and fixed it on my branch.  This will be fixed in the next pull request.

[2019-03-05 15:53] ifeife123 opened #159 "Find Photos"
Look for photos of different main characters.
This can be put on their webpage.

[2019-03-05 15:55] srisi opened #160 "Create a document display page"
We need a page that displays both the document pdf and the document metadata.

[2019-03-05 15:56] ltagliaferri opened #161 "Create a timeline"
Create an interactive timeline that captures the dates of the various documents in our archive.

Possible model: https://www.darwinproject.ac.uk/letters/darwins-letters-timeline

[2019-03-05 19:27] equationcrunchor commented on #156
Starting with addition...

[2019-03-05 19:58] equationcrunchor opened #164 "CLA doesn't store negative numbers properly"
I have already fixed this on my own branch; it will be fixed on master after the next pull request.

[2019-03-06 21:52] srisi opened #165 "Add full text to document model"
Modify the document model to store the full text of the document so it can be used in a fulltext search.

?Presumably? (@mscuthbert ) this means telling django to store the text in an FTS4 table.

Sample code to read the text for one file:
[code]

[2019-03-07 18:27] rikitabansal opened #169 "how to clearly distinguish transcript from original"

[2019-03-07 18:28] elenaboal opened #170 "Annotations about Pages"
Potentially adding relevant info about the page itself that can't be portrayed in a text file (ex. crossed out by hand, handwritten notes on the page, etc)

[2019-03-07 18:29] montsegarza opened #171 "Categorize documents by their type (letters, floor plans, etc.)"

[2019-03-07 18:30] samimak37 opened #172 "Integrate World Map of Letters"
Develop a map that allows users to sort for letters from a certain place (i.e. letters from professors at other universities, areas, etc.)

[2019-03-07 18:34] erica02139 opened #173 "Survey similar sites for design possibilities"
Looking at further, related projects might provide more ideas for features and layout.

Some examples could be:

Mapping the Republic of Letters (Stanford):
http://republicofletters.stanford.edu

Six Degrees of Francis Bacon:
http://www.sixdegreesoffrancisbacon.com/?ids=10000473&min_confidence=60&type=network

"Mitford's Worlds," in Digital Mitford: The Mary Russell Mitford Archive:
http://digital

[2019-03-07 18:45] ltagliaferri opened #174 "Network visualization — Force-directed graph"
Create network diagram to map all of the key players in correspondence

D3 example: https://observablehq.com/@d3/force-directed-graph

[2019-03-07 18:47] samimak37 opened #175 "Network Visualization - Develop map of hot topics"
Develop a graph/chart/visualization of hot topics (i.e. 'computer', 'artificial intelligence') and provide a link to documents that mention these terms

[2019-03-07 18:47] rikitabansal opened #176 "track buzzwords over time"

[2019-03-07 18:47] montsegarza commented on #171
On the website we could have the different types of documents organized into tabs.

[2019-03-07 18:59] elenaboal commented on #110
I think we should try to make an advanced search page that can stand alone without any user input. We would put a button in the navbar that said "Advanced Search" to link to it

[2019-03-07 22:13] equationcrunchor opened #177 "Track Mentions of People"
Use the OCR text to track mentions of people, not just author and correspondents.  Possibly use NLTK analysis like in Gender Novels to compare how they are described, referred to?

[2019-03-08 18:08] mscuthbert commented on #110
Do you mean like a faceted search?

[2019-03-08 18:09] mscuthbert commented on #171
Great idea -- do you want to try a mockup today?

[2019-03-08 18:10] mscuthbert commented on #176
Great!  This will probably emerge out of our "Glossary" project

[2019-03-08 18:10] mscuthbert commented on #176
See also #175

[2019-03-08 18:10] mscuthbert commented on #175
See also #176

[2019-03-08 18:10] mscuthbert commented on #174
Great -- see also #175

[2019-03-08 18:11] mscuthbert commented on #172
Is @mgallegos3015 someone to loop into this?  (were you working on mapping?)

[2019-03-08 20:42] ifeife123 commented on #160
Displaying PDF works - created a branch on 'document_webpage'

[2019-03-08 22:14] felixtran39 commented on #145
I think this issue has been resolved for now. Navbar now has a dropdown menu for archives and a link to simulations to accomodate for both parts of our site.

[2019-03-08 22:19] felixtran39 commented on #145
fixed in pull requests #179 #180

[2019-03-08 22:21] #145 closed

[2019-03-08 22:26] felixtran39 commented on #173
I think a mapping of people would be cool like in Six Degrees of Francis Bacon and "Mitford's Worlds," in Digital Mitford: The Mary Russell Mitford Archive. Maybe one of the most reoccuring people such as Verzuh, F. M. or Morse, P. M.

[2019-03-08 22:29] felixtran39 commented on #159
How should we define "main characters"? Is there a quota for a certain number of letters received/written by them?

[2019-03-08 23:00] ltagliaferri opened #183 "Advanced Search + Basic Search functionality"
@Carol217 — @felixtran39 #182 changed the Advanced Search hyperlink so that it would not throw an error, but now search functionality is redundant across basic and advanced search. Can you pull the basic Search back to not have the Advanced Search boilerplate on top?

[2019-03-08 23:02] ltagliaferri commented on #110
If #149 solves this we should close this issue

[2019-03-08 23:46] equationcrunchor opened #184 "Site Favicon"

[2019-03-10 16:48] erica02139 commented on #173
@felixtran39, a great person to discuss this with would be Scott Weingart, who's speaking at the DHLab this Thursday at 5:15--his research considers how networks can be most useful to DH projects.
Here's an overview: http://journalofdigitalhumanities.org/1-1/demystifying-networks-by-scott-weingart/

[2019-03-10 16:51] erica02139 commented on #175
See also discussion on #173

[2019-03-10 16:52] erica02139 commented on #174
See also discussion on #173

[2019-03-10 16:53] erica02139 commented on #174
Potentially useful: https://networkx.github.io

[2019-03-10 18:04] mgallegos3015 commented on #172
Yeah, I'm definitely working on mapping at the moment, and this sounds very interesting!

[2019-03-11 19:16] Carol217 commented on #183
resolved with latest pull request

[2019-03-11 19:16] #183 closed

[2019-03-11 19:18] Carol217 commented on #110
yep it does

[2019-03-11 19:18] #110 closed

[2019-03-11 21:59] equationcrunchor commented on #147
Resolved by pull request 158.

[2019-03-11 21:59] #147 closed

[2019-03-11 21:59] equationcrunchor commented on #153
Resolved by pull request 158.

[2019-03-11 21:59] #153 closed

[2019-03-11 22:00] equationcrunchor commented on #147
Resolved by pull request 158.

[2019-03-12 00:21] equationcrunchor commented on #156
Pull request 188 has addition

[2019-03-12 00:21] equationcrunchor commented on #157
Resolved by pull request 188.

[2019-03-12 00:21] #157 closed

[2019-03-12 00:21] equationcrunchor commented on #164
Resolved by pull request 188.

[2019-03-12 00:21] #164 closed

[2019-03-12 15:38] #96 closed

[2019-03-12 18:15] equationcrunchor opened #191 "Display implemented operations on general assembler page"

[2019-03-12 18:18] equationcrunchor opened #192 "Root Directory"
I think it would make the most sense to have it redirect to /dj_comp_hist/

[2019-03-12 21:16] srisi commented on #103
I've been messing around today with tesseract on the command line, primarily with some of my tobacco documents.
TLDR: the LSTM mode of tesseract 4 is impressive.

Base image: https://s3.amazonaws.com/comp-hist/docs/1_10_architecture/docs/1/pages/1/1_10_architecture_1_1.png
CLI documentation: https://github.com/tesseract-ocr/tesseract/wiki/Command-Line-Usage

Tesseract 3:
[code]

Tesseract 4 with L

[2019-03-13 14:11] mscuthbert commented on #192
definitely!

[2019-03-14 17:54] ltagliaferri opened #194 "Community Documentation"
Improved readme file (adding a history section, like in https://github.com/tesseract-ocr/tesseract), opportunity to consider the ambiguity of `new_developers.md` file for both in-lab and public collaborators, bring in code of conduct, consider renaming `important_info` directory, contributing file, potential to include tutorials in the future

[2019-03-15 20:00] #165 closed

[2019-03-15 20:21] Mayowa99 commented on #160
The current pdf viewer set up with the stuff at the side doesn't work for some of the folders, I'll look into it to see what's happening

[2019-03-15 20:57] equationcrunchor opened #202 "IBM 704 Simulator Tutorial"

[2019-03-15 20:57] equationcrunchor commented on #202
(I did not assign Alan against his will)

[2019-03-15 21:01] equationcrunchor opened #203 "IBM 704 Instruction Labels"
Provide short descriptions of highlighted instructions at top of page while running.

[2019-03-15 21:17] equationcrunchor opened #204 "Pressing Clear on Some Demos Breaks the Demo"

[2019-03-15 21:53] Mayowa99 commented on #160
Made the metadata table into a sidenav bar and made it smaller so that there is more emphasis on the actual doc. Changed some aesthetic parts of the table. Going to work on getting the date to show up in the table. Also, just curious, what is the purpose of the pages section?

[2019-03-18 18:43] equationcrunchor opened #210 "IBM 704 Operations Glossary"

[2019-03-18 19:20] equationcrunchor opened #211 "Switch Between Binary and Easy to Understand Representation for Memory"
Discussed with @felixtran39 ; Felix apparently has no other task at the moment and wants to try it; I will take it back over if there is more urgent task for Felix.

[2019-03-19 14:30] ifeife123 opened #213 "Fix advanced search"
Error message from choosing year out of range. This needs to be fixed as it causes the site to crash rather than telling the user to pick a correct date.

<img width="1214" alt="Screen Shot 2019-03-19 at 10 28 50 AM" src="https://user-images.githubusercontent.com/30591068/54613891-df329d80-4a31-11e9-8ad1-f379b4c196c0.png">

[2019-03-19 14:42] ifeife123 commented on #160
I'm not sure what the purpose of the pages section but I'd just leave it there for now. Should we use a sidenav? I'm not sure if it's "correct" to have two different navbars on one page. But then again it looks nice?

[2019-03-19 14:43] #192 closed

[2019-03-19 14:45] #105 closed

[2019-03-19 17:16] Mayowa99 commented on #160
I don't think there should be any issue with using two navbars, Stephen also said it was fine. I think the pages might actually be a misinterpretation of the picture drawn on the board, perhaps. When I originally drew that picture there were supposed to be links to the next document on the bottom, but it's possible somebody took my labelless rectangles for pages, lol. I'll leave them up for anothe

[2019-03-19 17:50] Mayowa99 opened #216 "Alignment Issues"
On the People page, the tables for the different sections are showing up with different alignments. ex: the Wrote table is off center from the CCed table. Not sure where this issue is stemming from.

[2019-03-19 19:13] mscuthbert commented on #160
I do notice that we have navbars w/ two different fonts.  this might be a separate issue, but something to fix.

[2019-03-21 15:23] elenaboal commented on #213
Fixed in pull request #219

[2019-03-21 15:23] #213 closed

[2019-03-21 18:54] equationcrunchor opened #222 "Search does not escape quotation marks"
Including quotation marks in a query causes an error.

[2019-03-21 18:57] Mayowa99 opened #223 "Wrong PDF showing up"
On the document webpage branch, the metadata for the different documents is showing up with PDF Letter to Lt. G. R. Thompson (1_2_project_proposal_contract_35). This PDF is hardcoded into the doc.jinja2 file

[2019-03-21 18:58] equationcrunchor opened #224 "Search "exactly this phrase" Google-style"
So searching `"machine learning"` would return results that contain the exact phrase `machine learning`, while searching for `machine learning` would return results that contain either `machine` or `learning`.

[2019-03-22 17:22] felixtran39 opened #228 "Add cache-busting for js"
If a js file has been changed make sure that the browser gets the current version when it refreshes.

[2019-03-22 20:56] equationcrunchor opened #231 "CSS for Simulations"
Change highlighting and stuff to use classes with styles defined in CSS, instead of being hardcoded.

[2019-03-22 20:59] equationcrunchor opened #232 "Animations for Register Changes"
Helps draw attention to changing registers.

[2019-03-22 21:03] equationcrunchor opened #233 "Redundant buttons"

[2019-03-22 21:07] equationcrunchor opened #234 "Delay Between Steps while Code Runs"
So you can actually see what's happening.  Should perhaps be toggleable, so you don't have to watch a long program execute if you don't want to.

[2019-03-22 21:08] equationcrunchor opened #235 "Visible Assembly"
Assembler assembles in steps so you can more easily see which line of code corresponds to which word.

[2019-03-22 21:08] #203 closed

[2019-03-22 21:09] equationcrunchor opened #236 "Button to hide and display short descriptions"

[2019-03-22 21:11] equationcrunchor opened #237 "Better Color Scheme for Simulations"
We can do better than beige, green, and pink, right?

[2019-03-22 21:12] equationcrunchor opened #238 "Symbolic Assembly Program Support"
Lets you do stuff like direct address modification in the code and fancy stuff.

https://docs.google.com/viewer?url=https%3A%2F%2Fdome.mit.edu%2Fbitstream%2Fhandle%2F1721.3%2F48791%2FDTMB_1960_1368.pdf&embedded=true&chrome=false&dov=1

[2019-03-22 21:13] equationcrunchor opened #239 "Labels for Registers"
Lets you label a register in memory.  Would require both front-end and back-end changes.

See https://docs.google.com/viewer?url=https%3A%2F%2Fdome.mit.edu%2Fbitstream%2Fhandle%2F1721.3%2F48791%2FDTMB_1960_1368.pdf&embedded=true&chrome=false&dov=1

[2019-03-22 21:14] equationcrunchor opened #240 "Interactive Coding Exercises?"
CATSOOP but for the IBM 704

[2019-03-22 21:31] equationcrunchor opened #241 "Collapse Demo JS Together"

[2019-03-22 21:32] equationcrunchor commented on #241
And also populate code blocks

[2019-03-22 22:40] alanabreu106 commented on #241
Check out our branch, refactor_sim_demos, we refactored the separate simulations into one .js file. General assembler is currently broken (ran out of time), but can be fixed following the same model.

[2019-03-22 23:04] ryaanahmed commented on #241
Great work on refactoring all of this code today, all.

@equationcrunchor—your original code had a lot of globally scoped variables that we've made more locally scoped in order to have these in separate params_dicts. The consequence of this is a lot of parameter passing. Check out https://github.com/dhmit/computation_hist/compare/master...refactor_sim_demos

To me, this suggests that what we've re

[2019-03-22 23:08] ryaanahmed commented on #204
I think this may now be resolved—please test close up if it's a no-op.

[2019-03-22 23:22] ltagliaferri commented on #223
@Mayowa99 resolved this today with PR #229

[2019-03-22 23:22] #223 closed

[2019-03-22 23:23] ltagliaferri commented on #161
@rikitabansal Is this what you are working on?

[2019-03-23 18:15] equationcrunchor commented on #241
I fixed the general assembler.  Should I put in a pull request now?

[2019-03-23 18:29] ryaanahmed commented on #241
Yes, please—seems like a good moment to merge into master.

On Sat, Mar 23, 2019 at 14:15 Mingfei D. <notifications@github.com> wrote:

--
web: ryaanahmed.com
mobile: +447446991042

[2019-03-27 16:55] srisi opened #245 "3.19 Folder has 2 PDF files"
Currently, folder 3.19 has two pdfs, both in our metadata and on google drive.
I'm just putting both of these folders (and their pdfs) on aws, essentially replicating this mistake so that the documents can be retrieved online.

If you fix this issue, i.e.:
- merge the two folder pdfs into 3_19_PMM_memo_re_709_1960_04_29 and reupload to google drive
- update the page numbers of the second 3.19 fold

[2019-03-29 11:34] ryaanahmed opened #247 "Fix metadata mistakes caught by populate_from_metadata"
Names in the metadata should have a single comma after the last name, and then be semicolon delimited.

Good:
`Morse, Philip M.`

Nope:
`Morse, Philip, M.`

Good:
`Last, First; AnotherLast, AnotherFirst`

Nope:
`Last, First, AnotherLast, AnotherFirst`

populate_from_metadata now prints an error message when it encounters a name that has too many commas: i.e., a name that is probably two names that

[2019-03-29 15:19] ryaanahmed opened #249 "Remove bare exceptions from archive.views"
No bare excepts, please! See

https://github.com/dhmit/computation_hist/blob/65825477afe5746756173a5915c2e506df272039/apps/archives/views.py#L39
and
https://github.com/dhmit/computation_hist/blob/65825477afe5746756173a5915c2e506df272039/apps/archives/views.py#L111

... and similar.

To safely retrieve a value from a dict if you don't know if the key exists, you can use get(), which returns a defau

[2019-04-01 03:00] equationcrunchor opened #251 "Indicator Lights on IBM 704 GUI"

[2019-04-01 11:19] ryaanahmed commented on #241
Done via https://github.com/dhmit/computation_hist/pull/242

[2019-04-01 11:19] #241 closed

[2019-04-01 18:08] mscuthbert commented on #247
I think that @angcast is working on this using the difflib library to find very small differences among names to standardize them.

[2019-04-01 20:36] equationcrunchor opened #255 "Populate Code Block from Demo Parameters"

[2019-04-02 14:23] elenaboal opened #257 "Advanced Search doesn't indicate when no results"

[2019-04-02 14:24] dinaatia opened #258 "advanced search - surrounding text"
It would be nice if there were a small preview of surrounding text around the word(s) being searched for, like there is when you do a google search.

[2019-04-02 14:27] ifeife123 opened #259 "Sort search results"
The search results should be able to be sorted

[2019-04-02 14:56] angcast opened #260 "Displays the notes from the metadata"
We should display the notes from the metadata of each document.

[2019-04-02 17:40] ryaanahmed commented on #257
Done by @elenaboal ! https://github.com/dhmit/computation_hist/pull/261

[2019-04-02 17:40] #257 closed

[2019-04-02 17:44] mscuthbert commented on #257
Does this display "no results" the first time you go to the page also?

[2019-04-02 18:08] ryaanahmed commented on #257
Nope — it's wrapped inside a check for `{% if results is defined  %}`

[2019-04-03 15:51] mscuthbert commented on #260
I've updated the title of the issue to more closely reflect what the problem that will be solved is -- your comment after the title works perfectly w/ this title to demonstrate a problem and the what a solution would do.

[2019-04-03 15:52] mscuthbert commented on #258
Should this only be for advanced search or would all searches benefit from this?

[2019-04-04 18:29] alanabreu106 opened #268 "Upside-down document"
Document 9 of folder 3, titled "Proposed IBM Computing Center at MIT" appears upside-down on the website.

[2019-04-04 18:40] equationcrunchor opened #269 "Clicking "Need a more advanced search?" link after normal search points to wrong URL"

[2019-04-04 20:16] #204 closed

[2019-04-05 20:43] montsegarza opened #274 "Names Repeated in People folder"
Other than needing to clean the metadata, the People folder separates documents a person wrote, received, and was cc'ed on. So a name will be repeated three times in the People folder.

[2019-04-08 18:36] #191 closed

[2019-04-08 18:37] equationcrunchor commented on #113
This is still relevant: There are currently 12 versions of F. J. Corbato under the People listing.

[2019-04-08 20:10] Carol217 commented on #249
done!

[2019-04-08 20:10] #249 closed

[2019-04-09 03:13] #269 closed

[2019-04-09 03:13] #255 closed

[2019-04-09 18:50] equationcrunchor opened #278 "Letterbox/Crop Story Card Teaser Images to be Same Proportions"

[2019-04-12 20:26] ltagliaferri opened #283 "Team Page"
We don't have a team page. The Gender / Novels project includes a team page which was linked to in the Ms. Magazine article. I think it is important to recognize the work of all the contributors.

[2019-04-14 17:38] mgallegos3015 opened #287 "Labeling of Folders in Box 1"
The numerical labeling of the folders in Box one does not always match the number of the folder. For example, 13 is mapped to folder 14. This particular pattern of the numerical label mapped to the next folder continues until 19 is mapped to 20. However, after this the mismatch in labeling and folder number follows no pattern although folders 21-30 all appear to be there but are simply in the wron

[2019-04-14 18:00] mgallegos3015 opened #288 "Opening Stories"
Stories only open when you click on their image.

[2019-04-14 19:33] mscuthbert commented on #288
Can you give a preferred solution?  What should someone work on having it do?  Thanks!

[2019-04-14 19:34] mscuthbert commented on #287
There was a folder missing in the archive (perhaps restricted?) and I think it was the original folder 13.  This would explain it, but doesn't go to a solution.

[2019-04-14 19:51] mgallegos3015 commented on #288
Ideally the stories would open if any part of them(the image or the teaser) was clicked.

[2019-04-16 21:31] ryaanahmed opened #289 "Finish linting and modularizing the simulations codebase"
Check out branch `jshint_and_modules` -- I've begun work implementing 'use strict' mode and ES6 modules so that the JS codebase is going to be more maintainable moving forward, and so that we can use linting tools to keep everything sane.

I've linted demos.js, render.js, and general_assembler.js, and implemented modules so that the files are aware of each other. simulator.js remains to be linted.

[2019-04-16 21:34] ryaanahmed commented on #289
p.s. 'use strict' causes the interpreter to error on things that would pass undetected before. so, e.g., right now if you run one of the simulations, it'll crash because of this:

[code]

Before this worked fine, but since `result` isn't declared, strict mode won't execute this statement. (needs a const or let).

[2019-04-17 05:54] equationcrunchor commented on #289
I linted the simulator.js, and now the simulations are crashing on what seems to be mostly typos, which I assume you couldn't check before because of the `use strict` crashes.  I'll try to fix them, but thought you should be aware.

[2019-04-17 14:08] ryaanahmed commented on #289
Thanks. I'll take a look today and see if I can make some more progress towards getting the cleaned up version working.

[2019-04-17 15:48] ryaanahmed commented on #289
Thanks for the ```update``` call catch.

Looks like I had forgotten to add ```type="module"``` in the ```<script>``` tags for the general assembler. (In order to support the ES6 module system, you have to explicitly indicate it in script tags.)

re: exponents operator: this is an ES7 feature, but it's widely supported enough that I think it's fine to use. I think JSHint doesn't let you specificall

[2019-04-19 18:22] ltagliaferri commented on #283
Also should add info about the [MIT Archives](https://libraries.mit.edu/archives/), and a longer description about the project.

[2019-04-19 18:53] ktmurray1999 commented on #268
The whole folder 9 of box 3, "Morse, Philip. 1950-1955" is upside-down.

[2019-04-19 20:18] #268 closed

[2019-04-19 21:07] equationcrunchor opened #308 "Correct Metadata"
Correct metadata and standardize names.  The output from populate_from_metadata from pull request #285 can be found [here](https://drive.google.com/file/d/1NbpS-uWIfGkc39HE742Yx0bVz1oWHSRp/view?usp=sharing).  @ryaanahmed would probably appreciate some help.

[2019-04-19 21:07] #308 closed, assigned to ryaanahmed

[2019-04-19 21:44] angcast opened #310 "Fixing display of advanced search"
There are some issues in the display in advanced search. There are some things that are visibly unpleasing such as uneven spacing and awkward underscores in names.

[2019-04-22 18:52] Carol217 opened #314 "Doc Pages don't display in Microsoft Edge"
They display just fine in Chrome, but in Microsoft edge a page like http://localhost:8000/archives/doc/271 just contains a box

[2019-04-22 20:16] Carol217 opened #316 "Some document URLs don't have the right document with the metadata"
some documents currently have the right metadata, but the wrong page uploaded

ex: http://localhost:8000/archives/doc/2_26_i_2

[2019-04-23 02:34] #231 closed

[2019-04-23 16:28] ryaanahmed commented on #310
@angcast — I think you've now done everything intended in here? Thanks!

Also: #317 removed the unnecessary underscores at their root cause, so could you now remove the template code that strips the underscores?

[2019-04-23 16:28] #310 closed

[2019-04-23 16:29] ryaanahmed commented on #288
Assigning this to @Mayowa99, who's been working on the front page lately.

[2019-04-23 16:44] ryaanahmed opened #320 "Unify advanced_search and search_results views"
In apps.archives.views, we currently have two search views:

- `advanced_search`, which is a document-only search with lots of filtering options
- `search_results`, which searches over all of our models, but has limited options

Let's combine these into one master search. Ideas (based on email discussions between @angcast @Carol217 @mscuthbert and @ryaanahmed)...

- Let's use `advanced_search` as

[2019-04-23 16:54] ryaanahmed commented on #320
@mscuthbert points out:

We should investigate the "Keyword" search problem here, as I'm pretty sure that should be working already... must be a bug in there.

[2019-04-23 17:11] Mayowa99 commented on #288
That's already the case, both the teaser and the image are links. I can make the title a link too

[2019-04-23 17:14] ryaanahmed commented on #320
Pushed an initial rough-in of some of this to `unify_search`. LOTS left to be done.

[2019-04-25 17:09] mscuthbert opened #325 "How to find all stories?"
It's hard to get at a particular story currently with the random system.

[2019-04-25 17:28] mscuthbert opened #326 "Search results should be case insensitive"
Compare "Cuthbert" to "cuthbert" in Search

Unchecked if applies to Advanced Search also...

[2019-04-25 18:03] srisi commented on #326
Maybe we should just fold the search into the advanced search.

[2019-04-25 18:04] mscuthbert commented on #326
@angcast and @ryaanahmed are working on this actively!  When that happens, this problem will go away.  Works great on Advanced Search.

[2019-04-25 18:10] equationcrunchor opened #327 "Picture of Cat on Story"
http://127.0.0.1:8000/archives/story/time_records

[2019-04-26 10:51] ryaanahmed commented on #320
Referencing https://github.com/dhmit/computation_hist/issues/326 here — as soon as we wire up advanced_search to the main search box and get rid of the old search_results view, that issue goes away, as case-insensitive search is already implemented in advanced_search.

[2019-04-26 12:12] ryaanahmed commented on #327
I think @felixtran39 is on this... https://github.com/dhmit/computation_hist/pull/302 ... will merge as soon as he fixes that typo!

[2019-04-26 12:54] ryaanahmed commented on #325
Good point. Added an all stories view. https://github.com/dhmit/computation_hist/pull/328

[2019-04-26 12:54] #325 closed

[2019-04-26 12:55] ryaanahmed commented on #314
I'm actually having a problem viewing them in Chrome on macOS, as well. I'm adding Ife to this issue, as she and I were looking at it the other day. Will investigate...

[2019-04-26 12:56] ryaanahmed commented on #288
done via https://github.com/dhmit/computation_hist/pull/321
thanks @Mayowa99 !

[2019-04-26 12:56] #288 closed

[2019-04-26 12:58] ryaanahmed commented on #278
done via https://github.com/dhmit/computation_hist/pull/321

[2019-04-26 12:58] #278 closed

[2019-04-26 13:01] ryaanahmed commented on #222
This was fixed whenever it was we removed the raw sqlite3 query from full text search.

[2019-04-26 13:01] #222 closed

[2019-04-26 20:04] rikitabansal opened #335 "document from 1965 under the date 1985 needs to be changed in metadata"
"Outline for proposed special issue of the MONTHLY Computers and Computing 1965" is document title

[2019-04-26 20:46] equationcrunchor opened #340 "Better Simulations Tooltips"

[2019-04-26 20:48] equationcrunchor opened #341 "Simulations Floating Point Precision"
Precision for floating point numbers displayed is sometimes absurd, probably due to Javascript's own floating point errors.  Would be nice to display the actual precision of the IBM 704 based on the characteristic of the floating point number.

[2019-04-26 21:51] #340 closed

[2019-04-29 12:32] ryaanahmed commented on #233
@equationcrunchor — could you elaborate? I think this is resolved with @felixtran39 's PR #330, which reduces the number of control buttons for the sim demos vs. the general assembler.

[2019-04-29 12:33] ryaanahmed commented on #224
This is done for full text search on advanced_search, but we should generalize this code and apply it to all fields.

[2019-04-29 12:36] ryaanahmed commented on #216
Seems to have been resolved at some point. Probably fixed when @ifeife123 went through and cleaned up the templates.

[2019-04-29 12:36] #216 closed

[2019-04-29 12:38] ryaanahmed opened #344 "Add reference to our GitHub to the site"
Something like what we have on the Gender Novels project.

[2019-04-29 12:46] ryaanahmed commented on #113
As of #322 , we've now caught about as much of this as we can programmatically. There still remains a little bit of manual correction to do, but that's captured in https://github.com/dhmit/computation_hist/issues/247, so I'm closing this.

Great work by a bunch of folks on different parts of this issue!

[2019-04-29 12:46] #113 closed

[2019-04-29 13:01] ryaanahmed opened #345 "Make sure all images have alt-text"
All images on our site should have alt-text, to ensure that they are accessible. This is SUPER IMPORTANT. Take ownership of any image you've added personally. (Slash thanks, most images already have alt-text!)

(If you don't know what I'm talking about, please read:
https://www.w3.org/WAI/tutorials/images/
https://www.w3.org/WAI/tutorials/images/#why-is-this-important)

[2019-04-29 13:21] ryaanahmed opened #346 "Create additional Selenium tests"
Huge thanks to @Carol217 for already taking initiative on this...

TODO:
- [x] Create a `SeleniumTestCase` subclass for sims in `apps.simulations.tests` (following the example of the one in archives)
- [x] All simulations pages need tests, just to make sure they load without 404ing
- [x] Tests that click on each button in the Simulation demos and make sure they don't throw errors
- [x] Click a sto

[2019-04-29 16:30] angcast commented on #320
I updated the css file to display people with the same box as documents when searching for a keyword. This box shows up on Microsoft Edge, but it does not show up on google chrome. I am not sure why. I was wondering if it shows up for you guys.
![image](https://user-images.githubusercontent.com/46508885/56911240-7c91e000-6a7a-11e9-883f-fd75ff3034b6.png)

[2019-04-29 17:00] ryaanahmed commented on #320
Works fine for me on Chrome. Did you try a hard refresh? Might be that Chrome had the old CSS cached.

[2019-04-29 18:37] equationcrunchor opened #347 "Simulations Index Register Negative Numbers"
When storing a number `x`, it should store `x % this.size` to prevent over and underflow.

[2019-04-29 21:19] Carol217 commented on #320
curiously enough, it doesn't show up on my chrome either. nor does it show up on Microsoft edge? I might have modified the files before you finish committing them, in which case, my sincerest apologies...

[2019-04-29 21:25] Carol217 commented on #326
it's also been fixed for just search a while back, hidden among my many commits ^^

[2019-04-29 21:25] #326 closed

[2019-04-29 21:36] equationcrunchor opened #349 "Weird Formatting in Search Results"
Example:
![image](https://user-images.githubusercontent.com/43281248/56928597-52094c80-6aa5-11e9-9bda-0235f0a232a6.png)

[2019-04-29 21:41] equationcrunchor opened #350 "Inconsistent OCR"
Example:

- Searching document text for `meme`.  http://127.0.0.1:8000/archives/doc/3_19_pmm_memo_re_709_1960_04_29_1_19 is first result.
- Looking at PDF preview online, there is no `meme` in text, only `memo`.  Highlighting the sentence `Status of programming memo and revision of machine shut-down date to late July.` and copy pasting elsewhere gives correct text.
- Check OCR text in `data/proces

[2019-04-30 09:38] ryaanahmed commented on #349
The main problem is the space after the colon (which is causing the text wrap and weirdness for, e.g., the 'Recipient' field here). I'd suggest we remove the colon, anyway: the bold / not bold distinction makes what is the label and what is the content clear.

[2019-04-30 10:48] ryaanahmed commented on #320
Great progress so far!

Just checked again, and the boxes show up on all browsers on my machine... are you both absolutely sure you tried with a hard refresh / cache clear?

[2019-04-30 12:34] ryaanahmed commented on #320
Search no longer gives results when the user inputs nothing in the search box or the advanced search fields. We should probably have front end validation for this as well, as well as some kind of error message if no fields are filled in.

[2019-04-30 13:43] srisi commented on #350
That's unfortunately correct.
Tesseract is non-deterministic, meaning that ocr-ing the same document twice will lead to subtly different results (e.g. reading an "o" as an "e".)
In our current pipeline, we ocr each document twice: the first time to generate the pdf, the second time to generate the text file for the search. I hadn't thought about that difference between text and pdf before but clea

[2019-04-30 14:03] srisi opened #351 "Fix Names in Metadata"
There are some duplicates left in our metadata sheet.
Here's a list of likely candidates to look into.
If you have either checked or fixed a last name, please add it here so I can update the list.

[code]

[2019-04-30 14:59] samimak37 commented on #350
I think that's the best option at the moment. Because of how Tesseract handles the OCR, there is no way to guarantee the same result with different scans (although it is usually very consistent). I can work on the fix today

[2019-04-30 15:07] #94 closed

[2019-04-30 15:07] mscuthbert commented on #107
(GREAT WORK!)

[2019-04-30 15:07] #107 closed

[2019-04-30 15:07] mscuthbert commented on #108
We can make a new issue with the specific ones left

[2019-04-30 15:07] #108 closed

[2019-04-30 15:08] mscuthbert commented on #160
Specific remaining problems can go into their own issues.

[2019-04-30 15:08] #160 closed

[2019-04-30 15:08] mscuthbert commented on #161
Updates on this @rikitabansal and @mgallegos3015 ?

[2019-04-30 15:09] mscuthbert commented on #170
Wonderful idea, but no person-power for this now.

[2019-04-30 15:09] #170 closed

[2019-04-30 15:09] mscuthbert commented on #173
Thanks for the work!

[2019-04-30 15:09] #173 closed

[2019-04-30 16:17] rikitabansal commented on #161
@ltagliaferri @mscuthbert Yes! It is not very "interactive" but it has the documents categorized by year and all the documents are linked

[2019-04-30 17:10] #335 closed

[2019-04-30 17:50] samimak37 commented on #350
I’ve been poking around with `ocr.py` and I’ve found a few things.

1) Tesseract apparently encodes the text within the PDF in a way that PyPDF2 cannot read. This results in a string that is nothing but newlines, and is therefore not very helpful.

2) Other packages exist that can pull text from PDF files, but most of them are very Unix-centric. I have found the most success with [pdftotext](https

[2019-05-01 17:12] mscuthbert commented on #350
@erica02139 has been editing some important handwritten document's OCR text by hand to get these important documents included.  How do we ensure that they don't get overwritten next time we run the OCR mechanism?  I've made a few edits myself.

[2019-05-02 10:23] ryaanahmed commented on #247
Comma errors all fixed; this is now superseded by https://github.com/dhmit/computation_hist/issues/351

[2019-05-02 10:23] #247 closed

[2019-05-02 12:42] ryaanahmed commented on #320
Did a few things this morning:
- merged the search facets branch into our `unify_search` branch,
- split process_search and generate_search_facets out into their own file (apps/archives/search.py) just to keep things organized
- did a little tidy up on the search template

[2019-05-02 13:44] srisi commented on #350
I've thought of that briefly. Erica's documents should be easy to track and we could add a column to the metadata sheet that's checked if we have hand-corrected text for the document so it doesn't get overwritten when it's changed. We could maybe even store the hand-corrected ocr in the google sheet.
Your edits would be harder to track because (I think) they were more dispersed.

[2019-05-02 17:00] srisi commented on #161
Re-opening for the moment:
@rikitabansal : Can you finish the timeline tomorrow and open a PR? (Or is this already merged?)
I think the display could be useful to add under the Archives header as "Documents" so visitors could look over a list of all available documents. Toughts?

[2019-05-02 18:37] equationcrunchor opened #358 "Names on people page ordered by first name"
Should probably be ordered by last name

[2019-05-02 21:33] ryaanahmed commented on #351
I think we're calling nameparser's capitalize method incorrectly - putting a pin in this with this comment to come back - see, e.g., `Mccormack` above, which is correctly transcribed `McCormack` in the spreadsheet/csv.

I don't think this stuff in name_parser.py does quite what we want it to:

[code]

Poked around a little, and I think the thing to do is to set all of the name fields and then run

[2019-05-03 08:12] ryaanahmed commented on #351
@srisi

[code]

whereas...

[code]

... which does seem off, but there you go. I'll fix and make a PR.

[2019-05-03 08:49] ryaanahmed commented on #358
done via https://github.com/dhmit/computation_hist/pull/361

[2019-05-03 08:49] #358 closed

[2019-05-03 08:50] ryaanahmed commented on #161
I agree - let's put the link there.

[2019-05-03 11:20] ryaanahmed commented on #320
I sketched in a basic structure to add refine search based on the search facets. Might be able to finish this up later today, but if someone else wants to work on it, just drop me a note on Slack first to make sure that I'm not also working on it!

[2019-05-03 17:28] Carol217 opened #367 "Search Augmentation - Time and Refinement"
- [ ] speed up search
- [x] let refine actually narrow down options

[2019-05-03 17:40] Carol217 commented on #314
![image](https://user-images.githubusercontent.com/23636809/57155277-08707880-6da9-11e9-99ef-25c83ec6a26f.png)

[2019-05-03 17:41] Carol217 commented on #314
![image](https://user-images.githubusercontent.com/23636809/57155326-29d16480-6da9-11e9-8cf2-e05e979679a3.png)

[2019-05-03 18:01] srisi opened #368 "Dropdown does not work on document pages"
Currently, clicking on the "Archives" tab when looking at a document (e.g. http://127.0.0.1:8000/archives/doc/2_20_ershov_16) does not toggle the dropdown.
My guess is that this is related to pdf.js because it still works with branches that have not been updated for two or more days.

[2019-05-03 18:09] ryaanahmed commented on #314
Well, at least it’s an error message that I wrote... there’s a check in ext/pdfjs/web/viewer.js  to make sure that the URL of the PDF is on our S3 bucket. Could be that the urls are heterogenous and the check I wrote is wrong.

Is this happening on all docs or just some?

[2019-05-03 18:18] felixtran39 commented on #368
There also seems to be a problem with the sidebar not showing up anymore either.

[2019-05-03 18:40] angcast opened #370 "Finish about page"
A page that describes our journey throughout the project and has every team member on it.

[2019-05-03 19:16] Carol217 commented on #314
All docs on Microsoft Edge

Get Outlook for Android<https://aka.ms/ghei36>

On Fri, May 3, 2019 at 2:09 PM -0400, "Ryaan Ahmed" <notifications@github.com<mailto:notifications@github.com>> wrote:

Well, at least it’s an error message that I wrote... there’s a check in ext/pdfjs/web/viewer.js to make sure that the URL of the PDF is on our S3 bucket. Could be that the urls are heterogenous and the ch

[2019-05-03 21:30] ryaanahmed commented on #314
Weird. I'll take a look on a Windows computer on Monday. A quick search shows a bunch of issues around PDF.js on Edge, so maybe it's not the solution for that browser...

Does this demo load for you on Edge? https://mozilla.github.io/pdf.js/web/viewer.html

[2019-05-04 15:06] mscuthbert commented on #370
@Mayowa99 has also been working on this.

[2019-05-06 14:02] ryaanahmed opened #379 "Check asset sizes"
Make sure everything is suitably compressed for production

[2019-05-06 16:00] ryaanahmed commented on #368
Fixed via https://github.com/dhmit/computation_hist/pull/380

super dumb bug by yours truly.

[2019-05-06 16:00] #368 closed

[2019-05-06 18:30] Carol217 commented on #314
@ryaanahmed , yeah, it does. As of now, the Edge pdf display is still not functioning

[2019-05-06 21:13] Carol217 commented on #367
Update: AND search has been created in order to deal with refinement issues, but it only applies to fields relating to people/organizations (author, recipient, cced). I can expand it to the other fields if that'll further improve our search, so let me know.

Searching is still slow as heck, however

[2019-05-07 04:24] ifeife123 commented on #344
Resolved

[2019-05-07 04:55] ifeife123 commented on #184
Resolved

[2019-05-07 04:55] #184 closed

[2019-05-07 05:01] #349 closed

[2019-05-07 05:05] ifeife123 commented on #283
I believe this is the same as issue #370 so I'm closing this issue

[2019-05-07 05:05] #283 closed

[2019-05-07 05:08] #327 closed

[2019-05-07 14:38] ktmurray1999 opened #385 "Punchcard Simulation"
The punchcard simulator still has a lot of progress to be made. There needs to be a transcibed code, a working html interface, and a working associated JS file.

[2019-05-07 15:15] ifeife123 opened #386 "Folder display page sorted incorrectly"
<img width="1436" alt="Screen Shot 2019-05-07 at 11 12 08 AM" src="https://user-images.githubusercontent.com/30591068/57311147-1845d080-70b9-11e9-8e41-bbc78078450a.png">
This shows the last item to be of index 15 in this folder:
If you look at the url it is actually at index 9, thus not the 15th and not the last item in the folder:
<img width="1440" alt="Screen Shot 2019-05-07 at 11 13 41 AM" src=

[2019-05-07 16:02] ryaanahmed opened #387 "Add handling for nicknames in Erica"

[2019-05-07 16:03] ryaanahmed opened #388 "Add handling for nicknames in Erica"

[2019-05-07 16:04] #387 closed

[2019-05-07 16:24] srisi commented on #245
After discussion with @erica02139 and @ryaanahmed, it's probably easier to just leave it in two pdf files since they are already metadataed and ocred.

[2019-05-07 16:24] #245 closed

[2019-05-07 16:26] srisi commented on #233
Fixed by now.

[2019-05-07 16:26] #233 closed

[2019-05-07 18:16] #347 closed

[2019-05-07 18:26] ryaanahmed commented on #385
@ktmurray1999 - did you push the work that you started today of transcribing the codes? If so, and if you can throw a picture of the encoding table up here, then others can continue that work.

[2019-05-07 18:39] ryaanahmed commented on #386
Didn't you fix this already via https://github.com/dhmit/computation_hist/pull/383? Or are you pointing out a different issue?

[2019-05-07 19:39] ryaanahmed commented on #344
I'm reopening this issue -- with the number of partner organizations etc. in the bottom navbar, it's getting a bit crammed. I suggest that we instead put a link to our code on the project about page, and make it more explicit than just having the Github logo in the corner.

[2019-05-09 17:32] ryaanahmed commented on #386
We're sorting now, but incorrectly: the sort is on the file_name field, which means that it's in alpha order: 1, 10, 11, 12, ..., 2, 21, 22, 23...

[2019-05-09 18:31] ryaanahmed opened #394 "Better / higher resolution story teaser images"
1. A few of our stories have generic document screenshots that aren't super relevant to the actual content of the story. We also just have too many teaser images that are document images. Let's change a few and try to get more variety and images of actual people, machines, physical locations, etc.

2. Some of the thumbnail images are too low in resolution and appear grainy on high res screens. (Er

[2019-05-09 19:10] montsegarza commented on #385
@ktmurray1999 @ryaanahmed I made a dictionary over a week ago that mapped every character to the binary code that represented the punch card holes. Is that what you mean by transcribing codes? I thought I pushed it but I suppose not.

[2019-05-09 19:30] srisi opened #397 "Missing Metadata"
Metadata is missing from:

1.6 (nsf_proposal), p. 8-84

[2019-05-09 21:02] ryaanahmed commented on #351
[code]

[2019-05-10 14:56] ryaanahmed opened #400 "Fix unicode bug(s?)"
see, e.g.,
archives/person/fernando-j-corbata3

Corbató -> Corbatã³

... maybe a problem in metadata_parser? @srisi , could you take a look?

[2019-05-10 14:56] ryaanahmed commented on #400
in name_parser, rather...

[2019-05-10 15:09] ryaanahmed commented on #385
Aha, yes, that's exactly the stuff. Thanks so much for doing that! I think maybe we've ended up reduplicating some work, but we'll find out today.

Let's make sure to keep in touch via this issue as we finish up this work, so we each know what we're doing.

[2019-05-10 15:33] ryaanahmed opened #401 "Unify design across the site"
We have a bit of a mishmash of styles, fonts, colors, etc. that we need to unify across the whole project in order to look consistent and professional. Here are the big issues that I see:

- [x] We have a pattern of divs on the page having their own background color, which is nice, but the color is inconsistent. On the 'search' page, it's grey, on most of the archives list pages, it's white. Let's

[2019-05-10 15:35] ryaanahmed commented on #386
Fixed via https://github.com/dhmit/computation_hist/pull/398

[2019-05-10 15:35] #386 closed

[2019-05-10 15:35] ryaanahmed commented on #344
@Mayowa99 @ifeife123 @rikitabansal -- can someone add this to the blurb at the top of the "Our Team" page?

[2019-05-10 15:36] ryaanahmed commented on #314
fixed via https://github.com/dhmit/computation_hist/pull/389

[2019-05-10 15:36] #314 closed

[2019-05-10 15:53] ryaanahmed commented on #400
Fixed via https://github.com/dhmit/computation_hist/commit/93de9e54151b5b5a018444444e29466ef50ec46d

(TIL: Python's open() default encoding is NOT utf-8, rather it's the system preferred encoding, so platform dependent - on Windows this is windows-1252)

[2019-05-10 15:53] #400 closed

[2019-05-10 15:56] ryaanahmed commented on #370
Great progress on this so far, but we still need some additional copy. We still need this:

_Originally posted by @ltagliaferri in https://github.com/dhmit/computation_hist/issues/283#issuecomment-484977637_

Maybe we change the title "Our Team" to "About", so we can include this material and also reference to our code etc.

[2019-05-10 15:57] ryaanahmed commented on #370
@mscuthbert - should we also add our collaborators from the Archives to the about page?

[2019-05-10 15:58] ryaanahmed commented on #320
Closing this, as the main work is done, and this has been superseded by a later issue opened by Carol. Great progress here!

[2019-05-10 15:58] #320 closed

[2019-05-10 16:00] ryaanahmed commented on #367
@Carol217 - did you make a PR / merge this?

Also adding this from our last issue:
- [ ] Add options to advanced_search to search for either documents or people, and hide the advanced options for documents or people depending on what kind of advanced search the user wants

I really like how this is handled on the MIT libraries page:

<img width="805" alt="Annotation 2019-05-10 115927" src="https:/

[2019-05-10 16:08] ryaanahmed opened #402 "Fix layout issues on small screens"
The layout generally looks pretty good down to the medium bootstrap breakpoint (i.e., down to medium sized tablets - 768px and up) but sm (basically: phones) is a little broken right now. Just need to adjust some margins / padding to make it work.

[2019-05-10 16:09] ryaanahmed commented on #370
See also https://github.com/dhmit/computation_hist/issues/344

[2019-05-10 16:10] ryaanahmed commented on #161
done via https://github.com/dhmit/computation_hist/pull/391

Great work @rikitabansal !

[2019-05-10 16:10] #161 closed

[2019-05-10 18:33] ifeife123 commented on #401
working on this issue in the [template cleanup](https://github.com/dhmit/computation_hist/tree/template_cleanup) branch

[2019-05-10 18:48] mscuthbert commented on #370
Definitely!!!!!!!!!!!

Best,
Michael

---
Sent from a phone (413-575-6024)
Apologies for typos or general brevity

On May 10, 2019, at 18:01, Ryaan Ahmed <notifications@github.com<mailto:notifications@github.com>> wrote:

@mscuthbert<https://github.com/mscuthbert> - should we also add our collaborators from the Archives to the about page?

—
You are receiving this because you were mentioned.
Reply

[2019-05-10 18:50] angcast commented on #370
Changed Our team ---> About Us

[2019-05-10 18:57] rikitabansal commented on #344
resolved

[2019-05-10 18:57] #344 closed

[2019-05-10 19:41] angcast commented on #401
Fixed header issue in About Us on the branch we are working on (-ourteam)

[2019-05-10 19:46] ifeife123 commented on #401
We should also add text wrapping
- waiting for @equationcrunchor to finish edits on simulator

[2019-05-10 19:50] angcast commented on #370
Currently writing a story about the lab; I added @erica02139 onto this issue because she is going to help us  with the credit portion of it

[2019-05-10 21:02] Mayowa99 commented on #401
added borders to all of the images and fixed the links on the template cleanup branch

[2019-05-12 17:08] erica02139 commented on #397
Done!

[2019-05-12 17:08] #397 closed

[2019-05-12 17:10] erica02139 commented on #370
Great! Also, the Archives will be termed the "Department of Distinctive Collections," starting Monday.

[2019-05-12 17:14] erica02139 commented on #351
Computation Center phone directory records from 1955-56 will help address some of these; we'll have these visually tomorrow.

[2019-05-12 20:45] erica02139 commented on #351
Last name:
	Arden
First name variants:
	 Bruce W. [real: mez]
	 Unknown [kept, but 2-14, p. 61 is likely “Arden, Dean N.” while 3-9, p. 3 and 3-10, p. 88 are likely “Arden, Bruce W.” who was “Mr.” not “Dr.”]
	 Dean M. [chg to “Dean N.”: mez]
	 Dean A. [chg to “Dean N.”: text is “Dean”: mez]
	 Dean N. [real: mez]

Last name:
	Brown
First name variants:
	 Sanborn C. [real: mez]
	 Gordon S. [real: me

[2019-05-13 14:26] ryaanahmed opened #415 "Add a"

[2019-05-13 14:26] ryaanahmed opened #416 "Add a "in progress" indicator for search"
Spinning wheel gif or similar

[2019-05-13 15:48] #415 closed

[2019-05-13 15:51] ryaanahmed commented on #351
For some reason @erica02139 's latest edited list sent by email didn't get attached to this issue. Here it is, replacing my comment above:
[code]

[2019-05-13 16:15] ryaanahmed commented on #370
Things left to do:
- [ ] Add librarians / archivists to the page
- [ ] Edits to the text above the fold; see:
I think I would reframe some of this to showcase the project and the entire team, and how it intersects with SHASS, Mellon, the libraries, etc. I can work on this though
_Originally posted by @ltagliaferri in https://github.com/dhmit/computation_hist/pull/406_
- [ ] Update references to th

[2019-05-13 16:17] ryaanahmed commented on #370
Who wants to contact the relevant folks from the archives to get headshots that we can add to the "Our Team" section of the page?

[2019-05-13 16:19] mscuthbert commented on #370
I'm happy do it -- sometimes libraries wish to keep their privacy close to hand so I want the connection to be offered as an opportunity if they want it rather than something they need to do.

[2019-05-13 16:24] ryaanahmed commented on #370
Great, so @mscuthbert, let's have you take point on interfacing with the Dept of Distinctive Collections about both their preferences for credit on our site and getting any graphics from them that they might want us to use as part of that credit.

[2019-05-13 16:52] ryaanahmed commented on #394
thanks @samimak37 and @mscuthbert!
@equationcrunchor investigated "three man-months" and the source image is too low res in the first place to do much with, so leaving it be.

[2019-05-13 16:53] ryaanahmed commented on #224
Now done for keyword search as well. Thanks to @Carol217 for fantastic work making our search feature better.

[2019-05-13 16:53] #224 closed

[2019-05-13 19:47] Carol217 commented on #416
fixed via #420

[2019-05-13 19:47] #416 closed

[2019-05-13 19:48] Carol217 commented on #346
resolved until new cases arise

[2019-05-13 19:48] #346 closed

[2019-05-13 21:34] ryaanahmed opened #422 "Hitting 'reset' while running a simulation doesn't behave correctly"
Reset should probably stop the demo if it's running

[2019-05-13 21:37] ryaanahmed commented on #367
Closing this:
- we decided not to refine by people or docs
- searching is actually fast enough for most things (except with lots of results like "Morse"), and @Carol217 implemented a loading spinner, so it's clear that something is happening when you hit search

[2019-05-13 21:37] #367 closed

[2019-05-13 21:40] ryaanahmed commented on #287
I think we fixed this.
@srisi @erica02139  --  someone sanity check me?

[2019-05-13 21:42] srisi commented on #287
I don't know if/who fixed it but it seems correct now.

[2019-05-13 21:48] #239 closed

[2019-05-13 21:48] #232 closed

[2019-05-13 21:49] equationcrunchor opened #423 "Simulations Column Alignment"
Rows of the table in the code, and numbers in general memory, don't quite align properly because the line numbers push them to the side with different numbers of digits.

[2019-05-13 22:01] equationcrunchor opened #425 "Browse Link in Navbar is Broken"
Mostly self-explanatory, gives a 404.

[2019-05-13 22:05] equationcrunchor opened #426 "Make Names in Search Results Link to Person Page"

[2019-05-13 22:05] erica02139 commented on #351
Thanks, @ryaanahmed! Have done more; will post tonight: also, here are Computation Center directory records from 1956-1963: will post on Slack, too.
https://drive.google.com/open?id=1-34DNXHFO6kgb2lXIzL9W-qouWJzN8RQ

[2019-05-13 22:25] ryaanahmed commented on #425
We got rid of this view, but the navbar element seems to have crept back in.

[2019-05-13 22:26] ryaanahmed commented on #425
https://github.com/dhmit/computation_hist/commit/4609a3411e227133974ebd2708bfa524de0a9a81

[2019-05-13 22:26] #425 closed

[2019-05-14 14:29] mscuthbert commented on #351
Perfect -- I just went over and took lots of pictures of the area.  Will make a story.

[2019-05-14 15:04] erica02139 commented on #351
Not sure if you mean pictures from the archives’ directory files—they’re also posted on Slack, if useful.

Sent from my iPhone

On May 14, 2019, at 10:29 AM, Michael Scott Cuthbert <notifications@github.com<mailto:notifications@github.com>> wrote:

Perfect -- I just went over and took lots of pictures of the area. Will make a story.

—
You are receiving this because you were mentioned.
Reply to th

[2019-05-14 15:18] ryaanahmed opened #430 "Add citation format to the document viewer"
@erica02139 has the format that the Department of Distinctive Collections prefers

[2019-05-14 15:20] srisi opened #431 "Folder and people display should also use datatables"

[2019-05-14 16:03] ryaanahmed commented on #287
Thought so. Closing.

[2019-05-14 16:03] #287 closed

[2019-05-14 17:18] samimak37 commented on #430
Working on this on the citations branch.

[2019-05-14 17:28] Mayowa99 commented on #370
I still need about three more responses for the survey I sent out from current lab members. What should I put for job descriptions of the previous members?

[2019-05-14 17:55] Mayowa99 commented on #345
I went through the site and it looks like every image has an alt text. For the story teasers, they all say "Teaser for (story name)" but the story name has all the underscores and stuff in it. Idk if that's a problem, but I don't know how else it would be done, since the page was implemented with a for loop.

[2019-05-14 18:17] erica02139 commented on #345
I agree that all site pages seem to have alt-text and figcaptions--I did notice these don't always show on the test site, but perhaps that's earlier code? Also, the story names display well there!

[2019-05-14 19:41] ryaanahmed commented on #431
I think probably the person display, too (e.g., sort by 'cced / received / sent')

[2019-05-15 12:49] mscuthbert commented on #345
Thanks for doing this @Mayowa99 and @erica02139  -- closing.

[2019-05-15 12:49] #345 closed

[2019-05-15 13:16] mscuthbert commented on #402
Fixed in #433

[2019-05-15 13:16] #402 closed

[2019-05-15 13:18] mscuthbert commented on #394
Note that there's a trade-off between higher resolution and high file size.  The teaser images should be around 100KB -- 200KB at maximum.  We're getting 500KB-1MB teasers which we'll need to downsample.  We can also commit a high res version for some distant future where 1MB loads in an instant for everyone, but right now on LTE or 7mbs cable modem connections, 1MB for a teaser x 6 is slow.

[2019-05-15 13:21] mscuthbert commented on #316
I thought I saw a commit that fixed this -- is this true?  on the other hand, the link is still not working.

[2019-05-15 13:23] ryaanahmed commented on #394
My plan is to compress / downscale everything myself before the end of the
week - I’d rather err on the side of getting assets that are too big now,
and then I’ll do a final pass to make sure everything is a reasonable file
size before we go public.

On Wed, May 15, 2019 at 09:18 Michael Scott Cuthbert <
notifications@github.com> wrote:

--
Ryaan Ahmed
Technical Director, Digital Humanities
Massac

[2019-05-15 13:23] mscuthbert opened #434 ""Letter to Sir""
Any pages like this have the name above.  For instance http://localhost:8000/archives/doc/2_26_i_4
the "Dear Sir" refers to Professor Morse.

Better to update with the content though.  "Establishment of Network of Corresponding Institutions" for instance.

[2019-05-15 16:33] mscuthbert commented on #434
I've gotten them all done, except the broken document Carol referred to, and updated a lot of title metadata to be more specific.  And learned a lot from the files.  Closing.

[2019-05-15 16:33] #434 closed

[2019-05-15 17:18] ryaanahmed commented on #401
Almost done! Just need to add panel-i-fy sims (will hit this afternoon) and then we're pretty much good to go in terms of design polish.

[2019-05-15 17:20] ryaanahmed commented on #401
Talked to @equationcrunchor, and it probably makes the registers incomprehensible if text-wrapped. We discussed another solution (moving the rightmost panel to a wider panel below), but this is not urgent. Let's call this a no-op for now.

[2019-05-15 19:58] ryaanahmed commented on #211
Leaving this here in the general category of "other representations for memory":

_Originally posted by @mscuthbert in https://github.com/dhmit/computation_hist/pull/438#issuecomment-492795122_

[2019-05-15 21:17] ryaanahmed commented on #394
done! thx all. still need to downsample files that are too big, but that's captured by another issue.

[2019-05-15 21:17] #394 closed

[2019-05-15 21:52] ryaanahmed commented on #379
done via https://github.com/dhmit/computation_hist/pull/439

[2019-05-15 21:52] #379 closed

[2019-05-16 02:33] erica02139 commented on #351
[people_ed.txt](https://github.com/dhmit/computation_hist/files/3185165/people_ed.txt)

[2019-05-16 14:05] ryaanahmed commented on #430
@erica02139 -- do you have the citation format? If so, could you post here, so we can add it to the document viewer?

[2019-05-16 14:28] erica02139 commented on #430
The one I have is: "Records of the Massachusetts Institute of Technology Computation Center AC.0062, Department of Distinctive Collections."

This is all the DDC articulated: since it's long, we'd talked about a "Show Citation" button on the doc viewer, so the full name wouldn't need to appear on each (and possibly, could include box/folder when clicked). Does this answer what's needed?

[2019-05-16 15:17] erica02139 commented on #430
@ryaanahmed @samimak37 -- also, if something more specific useful, please lmk!

[2019-05-16 15:52] ryaanahmed commented on #431
Done via https://github.com/dhmit/computation_hist/pull/440

[2019-05-16 15:52] #431 closed

[2019-05-16 15:54] ryaanahmed opened #441 "Finish for-real deployment"
- [x] Read environment variables and other settings from a file on startup
- [x] Go through Django deployment checklist and make sure I haven't forgotten anything
- [x] Setup A record for actual deployment URL
- [x] Reconfigure nginx for actual deployment URL and add to ALLOWED_HOSTS
- [x] Setup SSL
- [x] (optional) tune CONN_MAX_AGE

[2019-05-16 16:12] ryaanahmed opened #442 "Make sure all pages have titles"

[2019-05-16 16:17] ryaanahmed commented on #430
@erica02139  --  Yep, thanks.

@samimak37 already implemented the show citation bit-- just wanted to know what format they asked for... which is what Samantha already put on the site, so apparently I'm just behind the times!

@samimak37 -- if you want to take this, let's make the citation that we show more and richer, to include the title of the specific document, author, as well as box/folder num

[2019-05-16 17:08] ryaanahmed commented on #351
I'm removing this from the deploy-ready milestone. At this point, it looks to me like we've cleaned most of the truly _wrong_ metadata; there's still some sleuthing to do around many of the 'unknown' first-name folks, but this can become ongoing project maintenance work and work for the summer.

[2019-05-16 17:13] ryaanahmed commented on #316
@srisi and @erica02139 tracked down most of these in our metadata cleaning session last week, but a few remain (including the one that @Carol217 identified here!). Let's make this into a tracking issue for these: I _don't_ think there's a pipeline bug causing this; it looks like human error, and we're just going to have to handle them on a case-by-case basis (unless anyone sees anything I'm not se

[2019-05-16 17:45] ryaanahmed commented on #442
done https://github.com/dhmit/computation_hist/pull/443

[2019-05-16 17:45] #442 closed

[2019-05-16 17:47] ryaanahmed commented on #274
Pretty sure this is no longer an issue. @montsegarza  --  please reopen if you have an example of this still occurring.

[2019-05-16 17:47] #274 closed

[2019-05-16 17:48] ryaanahmed commented on #202
@equationcrunchor @alanabreu106  --  call this done via the introjs implementation?

[2019-05-16 17:49] ryaanahmed commented on #174
done! huge work by @samimak37 and @meesuekim

[2019-05-16 17:49] #174 closed

[2019-05-16 18:08] ryaanahmed commented on #117
Fixed at some point.

[2019-05-16 18:08] #117 closed

[2019-05-16 18:56] ryaanahmed opened #446 "Improve simulations design"
@equationcrunchor points out in https://github.com/dhmit/computation_hist/pull/438:

[2019-05-16 19:39] ryaanahmed commented on #401
done via https://github.com/dhmit/computation_hist/pull/438
thanks all!

[2019-05-16 19:39] #401 closed

[2019-05-17 05:00] equationcrunchor commented on #202
Sure, resolved by #407.

[2019-05-17 05:00] #202 closed

[2019-05-17 15:32] ryaanahmed commented on #430
Stephan writes via Slack:

I've just implemented most of this except author and date (as dealing with multiple authors, orgs, etc., will take a little bit of doing).

[2019-05-17 15:47] ryaanahmed commented on #446
@srisi:

[2019-05-17 18:01] mscuthbert commented on #430
yes, this seems right to me.

[2019-05-17 18:05] erica02139 commented on #430
Definitely agree about using an actual format! Can work in individual source details throughout the summer, too.

Sent from my iPhone

On May 17, 2019, at 11:32 AM, Ryaan Ahmed <notifications@github.com<mailto:notifications@github.com>> wrote:

Stephan writes via Slack:

I think citation should be one full citation for the document, e.g.
"Cohn, Harvey (1947, June 2) Riemann Function. Records of th

[2019-05-17 18:32] equationcrunchor opened #447 "Support for Sense-Type Instructions"

[2019-05-17 18:56] #441 closed

[2019-05-20 17:46] equationcrunchor opened #454 "Line numbers not visible on general assembler"

[2019-05-20 17:47] equationcrunchor opened #455 "General assembler slow on startup"

[2019-06-06 19:05] ryaanahmed commented on #370
done! via https://github.com/dhmit/computation_hist/pull/461

[2019-06-06 19:05] #370 closed

[2019-06-10 16:25] ryaanahmed opened #464 "Network visualizations axis"
Should be "fewer" and "more" rather than "less" and "more"

[2019-06-12 14:54] ryaanahmed commented on #464
done! thanks @meesuekim

[2019-06-12 14:54] #464 closed

[2019-06-12 14:56] ryaanahmed opened #466 "add DH as punchcard image to the "About" page"
@rikitabansal made a cool graphic -- we still need to add this somewhere! Probably should go on the about page.

[2019-07-08 15:06] #454 closed